<html> 
		<head>    
            <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
            
                <script>
                    L_NO_TOUCH = false;
                    L_DISABLE_3D = false;
                </script>
            
            <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
            <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
            <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
            <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
            
                    <meta name="viewport" content="width=device-width,
                        initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
                    <style>
                        #map_55e1f214130a4721856965d963072fe6 {
                            position: relative;
                            width: 150.0%;
                            height: 150.0%;
                            left: 0.0%;
                            top: 0.0%;
                        }
                    </style>         
        </head>

	<body style="background-color:#a6a797;" >
        <center>
            <div style="background-color:#554a38; margin-top:-25px;">
                <div style="padding-top:30px;">
                <h1 style="font-size:65px; color:white; ">Kentucky Trails Search</h1>
                </div>
            </div>
            <br>
            <div>  
                <form class="grid" action="../result" method="POST"> <!--form that enters and posts name of the trail--> 

                    <text style="font-size:26px">Enter name of the trail: </test>
                    <input type="text" id="name" name="name">
                    <input class="file_submit" type="Submit">
                    <br></br>
                    
                    <!--recalls the python script: if name of the trail is present in csv --> 
                    {% if name %}
                    <center>
                        <text><h3 style="font-size:26px;">Length of {{name}} trail is {{leng}} miles and it is located in {{county}}.</h3></text>
                    </center> 
                    <br>
                    <div style="width:65%; height:60%" >
                        {% extends "layout.html" %}
                        {% block title %} {% endblock %}
                        {% block head %} {{ super() }} {% endblock %}
                        {% block body %}
                        {% include "map.html" %}
                        {% endblock %}
                    </div>
                    {% endif %}

                    <!--posts no trail found! if trail name is not present in csv or if no trail name is entered but submit button is pressed --> 
                    {% if nonname %}
                        <center>
                            <text><h3 style="font-size:30px; color:red;">{{nonname}} </h3></text>
                        </center>  
                    {%endif %}
                </form>
            </div>   
        </center> 
    </body>
</html>